<div class="container">
    <div class="displayTableCell">
    <div class="authBlock">
    <h3>Sign In</h3>
    <div class="formGroup">
    <input type="text" class="form-control" placeholder="Username" #userName required>
    </div>
    <div class="formGroup">
    <input type="password" class="form-control" placeholder="Password" #userPassword required>
    </div>
    <!-- Calling SignIn Api from AuthService -->
    <div class="formGroup">
    <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>
    <div class="formGroup">
    <span class="or"><span class="orInner">Or</span></span>
    </div>
    
    <div class=" btn btn-info" routerLink="/forgot-password">
    <span >Forgot Password?</span>
    </div>
    </div>
    <div class="btn btn-secondary"  routerLink="/register-user">
    <span>Don't have an account?<span class="redirect"> Sign Up</span></span>
    </div>
    </div>
    </div>